#wrapper{
    width: 970px;
    height: auto;
}

.divclass{
    border: solid black 5px;
    border-radius: 5px;
    width:600px;
    height:200px;
    margin-left:235px;
    margin-top:20px;

}

.buttonclass{
    display: inline-block;
    transition-duration: .4s;
    background-color: #555555;
    color:white;
}

.buttonclass:hover{
    background-color: black;
}
div p, h1{
    display: inline-block;
}

#toggle img{
    
    height:150px;
    position: absolute;
}